@model TradeClientTestTemplate.Models.Order

@{
    ViewBag.Title = "Create";

}

<div class="container  m-4 px-4 py-2 col-8 justify-content-center clearfix border border-info border-2 rounded text-dark bckgcouleur">
    <form method="post" asp-action="Create" class="needs-validation p-1" novalidate>
        @Html.AntiForgeryToken()
        <div class="row  justify-content-end">
            <a asp-action="Index" type="button" class="close btn-lg text-primary "><i class="fas fa-times-circle "></i></a>
        </div>
        <div class="row">
            <div class="col justify-content-center">
                <h3 class="p-3 text-primary">Create new order</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-4  p-1">
                <div class="form-group ">
                    <label asp-for="trader">Trader <small class="text-danger"> &nbsp; *Please choose a trader!</small></label>
                    <select asp-for="trader" class="form-control" required>
                        
                        @foreach (var trd in ViewBag.Traders)
                        {
                            <option value="@trd.traderSymbol">
                                @trd.traderFullName
                            </option>
                        }
                    </select>
                    <div class="invalid-feedback">
                        Choose a valid symbol!
                    </div>
                </div>
            </div>
            <div class="col-4  p-1">
                <div class="form-group ">
                    <label asp-for="account">Account <small class="text-danger"> &nbsp; *Please choose an account!</small></label>
                    <select asp-for="account" class="form-control" required>
                        
                        @foreach (var acct in ViewBag.Accounts)
                        {
                            <option value="@acct.accountSymbol">
                               @acct.accountFullName
                            </option>
                        }
                    </select>
                    <div class="invalid-feedback">
                        Choose a valid symbol!
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col  p-1">
                <div class="form-group ">
                    <label asp-for="Symbol">Symbol</label>
                    <select asp-for="Symbol" required class="form-control fstdropdown-select" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                        @foreach (var symbl in ViewBag.Equities)
                        {
                        <option value="@symbl.Symbol">
                            @symbl.Symbol &nbsp;&nbsp; (@symbl.FullName)
                        </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col  p-1">
                <div class="form-group">
                    <label asp-for="Side">Action</label>
                    <select asp-for="Side" class="form-control" required>
                        <option value="">&lt;none&gt;</option>
                        <option value="1">BUY</option>
                        <option value="2">SELL</option>
                    </select>
                </div>
            </div>


            <div class="col  p-1">
                <div class="form-floating mb-3">
                    <label asp-for="Quantity">Quantity</label>
                    <a class="text-info" title="" data-container="body" data-toggle="popover" data-placement="right" data-content="Ticker symbol" data-original-title="Popover Title"><i class="fas fa-question-circle"></i></a>
                    <input type="number" asp-for="Quantity"  min="1" class="form-control" oninput="validity.valid||(value='');" required />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4  p-1">
                <div class="form-group">
                    <label asp-for="OrderType">Order Type</label>
                    <select asp-for="OrderType" class="form-control" required>
                        <option value="">&lt;none&gt;</option>
                        <option value="1">Market</option>
                        <option value="2">Limit</option>
                        <option value="3">Stop</option>
                        <option value="4">Stop-Limit</option>
                        <option value="5">Market On Close</option>
                    </select>
                </div>
            </div>
            <div class="col  p-1">
                <div class="form-group">
                    <label asp-for="stopPrice">Stop Price</label>
                    <input class=" number-only form-control" type="text" asp-for="stopPrice" disabled="disabled" required />
                </div>
            </div>
            <div class="col  p-1">
                <div class="form-group">
                    <label asp-for="limitPrice">Limit Price</label>
                    <input class="number-only form-control" type="text" asp-for="limitPrice" disabled="disabled" required />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4  p-1">
                <label asp-for="TimeInForce">Time In Force</label>
                <select class="form-control" asp-for="TimeInForce">
                    <option value="0" selected>DAY</option>
                    <option value="1">GTC</option>
                    <option value="2">OPG</option>
                    <option value="3">IOC</option>
                    <option value="4">FOK</option>
                    <option value="6">GTD</option>
                </select>
            </div>
            <div class="col-4  p-1">
                <div class="form-group">
                    <label asp-for="dateGTD">Good till date</label>
                    <input class=" form-control" type="date" asp-for="dateGTD" disabled="disabled" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6 p-1">
                <label asp-for="Note">Notes</label>
                <a class="text-info" title="" data-container="body" data-toggle="popover" data-placement="right" data-content="Ticker symbol" data-original-title="Popover Title"><i class="fas fa-question-circle"></i></a>
                <textarea class="form-control" asp-for="Note" rows="2"></textarea>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary w-100" value="Create">Create Order</button>
            </div>

            <div class="col-3">
                <button type="reset" class="btn btn-outline-info w-100"><i class="fas fa-sync-alt"></i> Reset</button>
            </div>
        </div>
    </form>
</div>