@model TradeClientTestTemplate.Models.Placement

@{
    ViewBag.Title = "Place";
}

<div class="container-fluid m-4 px-4 py-2 col-8 justify-content-center clearfix border border-info border-2 rounded text-dark">
    <div class="row  justify-content-end">
        <a asp-area="Models" asp-controller="Home" asp-action="Index" type="button" class="close btn-lg text-primary "><i class="fas fa-times"></i></a>
    </div>
    <form method="post" asp-action="Place">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="portfolioManagerId" />
        <input type="hidden" asp-for="ClOrdId" />
        <input type="hidden" asp-for="status" />
        <input type="hidden" asp-for="Placed" />
        <input type="hidden" asp-for="Filled" />
        <input type="hidden" asp-for="Working" />
        <div class="row">
            <div class="col justify-content">
                <h2 class="p-3 text-dark"><strong>Place Order</strong></h2>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start">
            <div class="p-1">

                @if (ViewBag.Order.Side == 1)
                {
                    <h5 class="badge badge-success">BUY</h5>
                }
                else
                {
                    <h5 class="badge badge-danger">SELL</h5>
                }

            </div>
            <div class="p-1">
                <h4 asp-for="Symbol"><strong>@ViewBag.Order.Symbol</strong></h4>
            </div>
            <div class="p-1">
                <h4 asp-for="EquityFullName">-&nbsp;@ViewBag.Order.EquityFullName</h4>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4  p-1">
                <div class="form-floating mb-3">
                    <label asp-for="Placed"><strong>Quantity</strong></label>
                    <input type="number" asp-for="Placed" min="1" max="@ViewBag.Order.uncommited" class="form-control" oninput="validity.valid||(value='');" required value="@ViewBag.Order.uncommited" />
                </div>
            </div>
            <div class="col-7 p-1 justify-content-end">
                <div class="form-group ">
                    <label class="text-info"><i class="fas fa-landmark"></i><strong>&nbsp;CASH</strong><small class="text-danger"> &nbsp; *Please choose a destination!</small></label>
                    <select asp-for="Broker" class="form-control" required>
                        @foreach (var brk in ViewBag.Brokers)
                        {
                            <option value="@brk.BrokerSymbol">@brk.BrokerName (@brk.BrokerSymbol)</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6  p-1">
                <div class="form-group">
                    <label asp-for="OrderType"><strong>Order Type</strong></label>
                    <select asp-for="OrderType" class="form-control" value="@ViewBag.Order.OrderType" required>
                        <option value="1">Market</option>
                        <option value="2">Limit</option>
                        <option value="3">Stop</option>
                        <option value="4">Stop-Limit</option>
                        <option value="5">Market On Close</option>
                    </select>
                </div>
            </div>
            <div class="col-4 justify-content-end">
                <label><strong>Original</strong></label>
                <p>@ViewBag.Order.ordered</p>
            </div>

        </div>
        <div class="row justify-content-between">
            <div class="col-3  p-1">
                <div class="form-group">
                    <label asp-for="stopPrice"><strong>Stop Price</strong></label>
                    <input type="text" class="number-only form-control" name="StopPrice" asp-for="stopPrice" onfocus="this.value='';" disabled="disabled" required />
                </div>
            </div>
            <div class="col-3  p-1">
                <div class="form-group">
                    <label asp-for="limitPrice"><strong>Limit Price</strong></label>
                    <input type="text" class="number-only form-control" name="LimitPrice" asp-for="limitPrice" onfocus="this.value='';" disabled="disabled" required />
                </div>
            </div>

            <div class="col-4 justify-content-end">
                <label><strong>Uncommitted</strong></label>
                <p>@ViewBag.Order.uncommited</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3  p-1">
                <label asp-for="TimeInForce"><strong>Time In Force</strong></label>
                <select class="form-control" asp-for="TimeInForce">
                    <option value="0">DAY</option>
                    <option value="1">GTC</option>
                    <option value="2">OPG</option>
                    <option value="3">IOC</option>
                    <option value="4">FOK</option>
                    <option value="6">GTD</option>
                </select>
            </div>
            <div class="col-5 ">
                <div class="form-group">
                    <label asp-for="dateGTD"><strong>Good till date</strong></label>
                    <input class=" form-control" type="date" asp-for="dateGTD" disabled="disabled" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6 p-1">
                <label asp-for="Note"><strong>Notes</strong></label>
                <textarea class="form-control" name="Note" asp-for="Note" rows="2"></textarea>
            </div>
        </div>
        <div class="col-7 p-1 justify-content-end">
            <div class="form-group ">
                <label class="text-info"><i class="fas fa-landmark"></i><strong>&nbsp;CASH</strong><small class="text-danger"> &nbsp; *Please choose a destination!</small></label>
                <select asp-for="DestinationID" class="form-control" required>
                    @foreach (var dst in ViewBag.Destinations)
                    {
                        <option value="@dst.DestinationName">@dst.DestinationName</option>
                    }
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-7">
                <button type="submit" class="btn btn-warning w-100" value="Save">PLACE ORDER</button>
            </div>
        </div>

    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script >
    $(function () {
        $("#OrderType").select(function () {
            if ($(this).val() == 2) {
                $("#limitPrice").focus();
                $("#limitPrice").removeAttr("disabled");
                $("#limitPrice").show();
                $("#stopPrice").hide();
                $("#stopPrice").attr("disabled", "disabled");
            } else if ($(this).val() == 3) {
                $("#stopPrice").focus();
                $("#stopPrice").removeAttr("disabled");
                $("#stopPrice").show();
                $("#limitPrice").hide();
                $("#limitPrice").attr("disabled", "disabled");
            } else if ($(this).val() == 4) {

                $("#stopPrice").focus();
                $("#limitPrice").removeAttr("disabled");
                $("#stopPrice").removeAttr("disabled");
                $("#stopPrice").show();
                $("#limitPrice").show();
            } else {
                $("#limitPrice").attr("disabled", "disabled");
                $("#stopPrice").attr("disabled", "disabled");
                $("#stopPrice").hide();
                $("#limitPrice").hide();
            }
        });
    });
</script>