@model TradeClientTestTemplate.Models.Order

@{
    ViewBag.Title = "Place";

}
<div class="container-fluid m-4 px-4 py-2 col-8 justify-content-center clearfix border border-info border-2 rounded text-dark bckgcouleur">
    <div class="row  justify-content-end">
        <a asp-area="Models" asp-controller="Home" asp-action="Index" type="button" class="close btn-lg text-primary "><i class="fas fa-times-circle "></i></a>
    </div>
    <form method="post" asp-action="Place">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="portfolioManagerId" />
        <input type="hidden" asp-for="ClOrdId" />
        <input type="hidden" asp-for="status" />
        <input type="hidden" asp-for="Side" />
        <input type="hidden" asp-for="Symbol" />
        <input type="hidden" asp-for="timeCreated" />
        <input type="hidden" asp-for="ordered" />
        <input type="hidden" asp-for="placed" />
        <input type="hidden" asp-for="filled" />
        <input type="hidden" asp-for="leaves" />
        <input type="hidden" asp-for="account" />
        <input type="hidden" asp-for="trader" />
        <input type="hidden" asp-for="EquityFullName" />
        <input type="hidden" asp-for="uncommited" />
        <div class="row">
            <div class="col justify-content">
                <h2 class="p-3 text-dark">Place Order</h2>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start">
            <div class="p-1">

                @if (Model.Side == 1)
                {
                    <span class="badge badge-success">BUY</span>
                }
                else
                {
                    <span class="badge badge-danger">SELL</span>
                }

            </div>
            <div class="p-1">
                <label asp-for="Symbol"><strong>@Model.Symbol</strong></label>
            </div>
            <div class="p-1">
                <label asp-for="EquityFullName">-&nbsp;@Model.EquityFullName</label>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4  p-1">
                <div class="form-floating mb-3">
                    <label asp-for="Quantity">Quantity</label>
                    <input type="number" asp-for="Quantity" min="1" max="@Model.uncommited" class="form-control" oninput="validity.valid||(value='');" required value="@Model.uncommited" />
                </div>
            </div>
            <div class="col-7 p-1">
                <div class="form-group ">
                    <label id="broker" class="text-info"><i class="fas fa-landmark"></i><strong>&nbsp;CASH</strong><small class="text-danger"> &nbsp; *Please choose a destination!</small></label>
                    <select for="broker" class="form-control" required>
                        <option>B1</option>
                        <option>B2</option>
                        <option>B3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6  p-1">
                <div class="form-group">
                    <label asp-for="OrderType">Order Type</label>
                    <select asp-for="OrderType" class="form-control" required>
                        <option value="1" selected>Market</option>
                        <option value="2">Limit</option>
                        <option value="3">Stop</option>
                        <option value="4">Stop-Limit</option>
                        <option value="5">Market On Close</option>
                    </select>
                </div>
            </div>
            <div class="col-4 justify-content-end">
                <label asp-for="ordered"><strong>Original</strong></label>
                <p>@Model.ordered</p>
            </div>


        </div>
        <div class="row justify-content-between">
            <div class="col-3  p-1">
                <div class="form-group">
                    <label asp-for="stopPrice">Stop Price</label>
                    <input type="text" class="number-only form-control" asp-for="stopPrice" disabled="disabled" required />
                </div>
            </div>
            <div class="col-3  p-1">
                <div class="form-group">
                    <label asp-for="limitPrice">Limit Price</label>
                    <input type="text" class="number-only form-control" asp-for="limitPrice" disabled="disabled" required />
                </div>
            </div>

            <div class="col-4 justify-content-end">
                <label asp-for="uncommited"><strong>Uncommitted</strong></label>
                <p>@Model.uncommited</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3  p-1">
                <label asp-for="TimeInForce">Time In Force</label>
                <select class="form-control" asp-for="TimeInForce">
                    <option value="0" selected>DAY</option>
                    <option value="1">GTC</option>
                    <option value="2">OPG</option>
                    <option value="3">IOC</option>
                    <option value="4">FOK</option>
                    <option value="6">GTD</option>
                </select>
            </div>
            <div class="col-5 ">
                <div class="form-group">
                    <label asp-for="dateGTD">Good till date</label>
                    <input class=" form-control" type="date" asp-for="dateGTD" disabled="disabled" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6 p-1">
                <label asp-for="Note">Notes</label>
                <textarea class="form-control" asp-for="Note" rows="2"></textarea>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-7">
                <button type="submit" class="btn btn-warning w-100" value="Save">PLACE ORDER</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
