@model IEnumerable<TradeClientTestTemplate.Models.Placement>

<div class="container p-2">
    <div class="table table-sm">

        <div>
            @if (Model.Count() > 0)
            {
                <table table id="tableTESTOR"
                       data-search="true"
                       data-show-columns="true"
                       data-show-toggle="true"
                       data-show-multi-sort="true">
                    <thead>
                        <tr>
                            <th class="text-center text-danger"><strong>Action</strong></th>
                            <th scope="col" class="sort" data-field="Status" data-sort="Status" data-sortable="true"><i class="fas fa-stream"></i>&ensp;STATUS</th>
                            <th scope="col" class="sort" data-sortable="true">DESTINATION ID</th>
                            <th scope="col" class="sort" data-sort="Placed" data-sortable="true">PLACED</th>
                            <th scope="col" class="sort" data-sortable="true">PRICE</th>
                            <th scope="col" class="sort" data-sort="Filled" data-sortable="true">FILLED</th>
                            <th scope="col" class="sort" data-sort="AvgPrice" data-sortable="true">AVG PX</th>
                            <th scope="col" class="sort" data-sort="Working" data-sortable="true">WORKING</th>
                            <th scope="col" class="sort" data-sort="TimeInForce" data-sortable="true">TIF</th>
                            <th scope="col" class="sort" data-sort="TransactTime" data-sortable="true">TIME</th>
                            <th scope="col" class="sort" data-sort="Broker" data-sortable="true">BROKER</th>
                            <th scope="col" class="sort" data-sort="ClOrdId" data-sortable="true">FIX ID</th>
                            <th scope="col" class="sort" data-sort="PlacementID" data-sortable="true">PLACEMENT ID</th>
                        </tr>
                    </thead>

                    <tbody class="list">
                        @foreach (var pl in Model)
                        {
                            <tr>
                                <td>
                                    @if (pl.Placed != pl.Filled)
                                    {
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <div class="dropdown-menu justify-content-between" aria-labelledby="btnGroupDrop1">
                                                <a class="dropdown-item text-danger" href="#"><i class="fi-ctluxl-times-thin text-warning"></i>&nbsp;Cancel</a>
                                                <a class="dropdown-item text-primary" href="#"><i class="fi-ctluhl-change-thin text-primary"></i>&nbsp;Cancel Replace</a>
                                                <a class="dropdown-item text-danger" href="#"><i class="fi-ctsuxl-times-thin text-danger"></i>&nbsp;Forced Cancel</a>
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @{ if (pl.status.Equals('P'))
                                        {
                                            <span class="text-warning text-center"><i class="fas fa-spinner fa-pulse"></i>&ensp;<strong class="text-muted">Pending</strong></span>
                                        }
                                        else if (pl.status.Equals('W'))
                                        {
                                            <span class="text-primary text-center"><i class="fas fa-spinner fa-spin"></i>&ensp;<strong class="text-muted">Working</strong></span>
                                        }
                                        else if (pl.status.Equals('4'))
                                        {
                                            <span class="text-warning text-center"><i class="fas fa-spinner fa-spin"></i>&ensp;<strong class="text-muted">Canceled</strong></span>
                                        }
                                        else if (pl.status.Equals('8'))
                                        {
                                            <span class="text-danger text-center"><i class="fas fa-spinner fa-spin"></i>&ensp;<strong class="text-muted">Rejected</strong></span>
                                        }
                                    }
                                    @*@switch (pl.status)
                                    {

                                        case 'P':
                                            <span class="text-info text-center"><i class="fas fa-spinner fa-pulse"></i>&ensp;<strong class="text-muted">Pending</strong></span>;
                                            break;
                                        case 'W':
                                            <span class="text-primary text-center"><i class="fas fa-spinner fa-spin"></i>&ensp;<strong class="text-muted">Working</strong></span>;
                                            break;
                                        case '1':
                                            <span class="badge badge-warning text-center badge-pill">Partially filled</span>; //Blotter Status
                                            break;
                                        case '2':
                                            <span class="badge badge-dark text-center badge-pill">Filled</span>;
                                            break;
                                        case '4':
                                            <span class="badge badge-danger text-center badge-pill">Canceled</span>;
                                            break;
                                        case '5':
                                            <span class="badge badge-info text-center badge-pill">Replaced</span>;
                                            break;
                                        case '6':
                                            <span class="badge badge-warning text-center badge-pill">Pending Cancel</span>;
                                            break;
                                        case '7':
                                            <span class="badge badge-primary text-center badge-pill">Stopped</span>;
                                            break;
                                        case '8':
                                            <span class="badge badge-danger text-center badge-pill">Rejected</span>;
                                            break;
                                        case 'E':
                                            <span class="badge badge-info text-center badge-pill">Pending Replace</span>; //sub status
                                            break;
                                    }*@
                                </td>
                                <td>@pl.DestinationID</td>
                                <td>@pl.Placed</td>
                                <td>
                                    @switch (int.Parse(pl.OrderType.ToString()))
                                    {
                                        case 1:
                                            <span class="badge badge-dark text-center badge-pill">MKT</span>;
                                            break;
                                        case 2:
                                            @pl.limitPrice;
                                            break;
                                        case 3:
                                            <span><i class="fi-cwluxl-small text-danger"></i> @pl.stopPrice</span> ;
                                            break;
                                        case 4:
                                            <span><i class="fi-cwluxl-small text-danger"></i> @pl.stopPrice &emsp; @pl.limitPrice</span>;
                                            break;
                                        case 5:
                                            <span class="badge badge-info text-center badge-pill">Market On Close</span>;
                                            break;
                                    }
                                </td>
                                <td>@pl.Filled</td>
                                <td>@if (pl.AvgPrice != decimal.Zero)
                                    {
                                     <span>@pl.AvgPrice</span> 
                                    }   
                                </td>
                                <td>@pl.Working</td>
                                <td>
                                    @switch (pl.TimeInForce)
                                    {
                                        case '0':
                                            <span>Day <small class="text-primary">@Convert.ToDateTime(DateTime.Today).ToString("dd-MM")</small></span>;
                                            break;
                                        case '1':
                                            <span>GTC <small class="text-primary">@Convert.ToDateTime(DateTime.Today).ToString("dd-MM")</small></span>;
                                            break;
                                        case '2':
                                            <span>OPG <small class="text-primary">@Convert.ToDateTime(DateTime.Today).ToString("dd-MM")</small></span>;
                                            break;
                                        case '3':
                                            <span>IOC <small class="text-primary">@Convert.ToDateTime(DateTime.Today).ToString("dd-MM")</small></span>;
                                            break;
                                        case '4':
                                            <span>FOK <small class="text-primary">@Convert.ToDateTime(DateTime.Today).ToString("dd-MM")</small></span>;
                                            break;
                                        case '6':
                                            <span>GTD <small class="text-primary">@Convert.ToDateTime(pl.dateGTD).ToString("dd-MM")</small></span>;
                                            break;
                                    }
                                </td>
                                <td>
                                    @if ((DateTime.Compare(pl.SendingTime, Convert.ToDateTime("01/01/0001 00:00:00"))) == 0)
                                    {
                                        <span class="text-muted"><strong>Order still new</strong></span>
                                    }
                                    else
                                    {
                                        <span><small class="text-info">@Convert.ToDateTime(pl.SendingTime).ToString("dd-MM") </small>&ensp;@Convert.ToDateTime(pl.SendingTime).ToString("HH:mm:ss")</span>
                                    }
                                </td>
                                <td>@pl.Broker</td>
                                <td>@pl.ClOrdId</td>
                                <td>@pl.PlacementID</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            else
            {
                <h1 class="display-2 text-center"> No Placements Exists.</h1>
            }
        </div>

    </div>

</div>
